@font-face {
  font-family: Roboto-Regular;
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../../assets/fonts/Roboto-Bold.ttf');
}

.App-bg {
  text-align: center;
  background-color: #3e3a52;
  min-height: 100vh;
}

.subscribe-window {
  background-color: #f1edf6;
  width: 800px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.subscribe {
  padding: 3.5rem;
  color: #312d45;
  font-family: Roboto-Regular, sans-serif;
  text-align: start;
}

.subscribe h1 {
  font-size: 3rem;
  font-family: Roboto-Bold, sans-serif;
}

.subscribe p {
  font-size: 0.8rem;
}

.email-label-line {
  font-family: Roboto-Bold, sans-serif;
  font-size: 0.8rem;
}

.email-label-line p {
  color: rgb(216, 73, 68);
}

input {
  width: 100%;
  height: 3rem;
  border-radius: 7px;
  border: 2px solid rgb(189, 189, 189);
  padding-left: 1rem;
}

input:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-family: Roboto-Regular, sans-serif;
  color: rgb(162, 162, 162);
  font-size: 0.9rem;
}

.correct-email {
  width: 100%;
  height: 3rem;
  border-radius: 7px;
  border: 2px solid rgb(189, 189, 189);
  border-color: rgb(189, 189, 189);
  padding-left: 1rem;
}

.incorrect-email {
  width: 100%;
  height: 3rem;
  border-radius: 7px;
  border: 2px solid rgb(216, 73, 68);
  color: rgb(216, 73, 68);
  border-color: rgb(216, 73, 68);
  background-color: #f5d9d7;
  padding-left: 1rem;
}

#submit {
  width: 100%;
  height: 3rem;
  color: #f1edf6;
  font-family: Roboto-Bold, sans-serif;
  font-size: 0.8rem;
  background-color: #3e3a52;
  border-radius: 7px;
  border: none;
}

#submit:hover {
  cursor: pointer;
}

#submit:active {
  background-color: #ff6a3b;
}
